layout {
  default_tab_template {
    children

    pane size=1 borderless=true {
      plugin location="file:@zjstatus@" {
        format_left  "{mode} #[fg=#89B4FA,bold] {tabs}"
        format_right "{session}"
        format_space ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal       "#[bg=#89B4FA] {name} "
        mode_locked       "#[bg=#89B4FA] {name} "
        mode_resize       "#[bg=#89B4FA] {name} "
        mode_pane         "#[bg=#89B4FA] {name} "
        mode_tab          "#[bg=#89B4FA] {name} "
        mode_scroll       "#[bg=#89B4FA] {name} "
        mode_enter_search "#[bg=#89B4FA] {name} "
        mode_search       "#[bg=#89B4FA] {name} "
        mode_rename_tab   "#[bg=#89B4FA] {name} "
        mode_rename_pane  "#[bg=#89B4FA] {name} "
        mode_session      "#[bg=#89B4FA] {name} "
        mode_move         "#[bg=#89B4FA] {name} "
        mode_prompt       "#[bg=#89B4FA] {name} "
        mode_tmux         "#[bg=#ffc387] {name} "

        tab_normal   "#[fg=#000000] {name} "
        tab_active   "#[fg=#000000][{name}]"
      }
    }
  }
  
  tab name="file" {
    pane name="main" command="@fileExplorer@"
  }
  tab name="edit" focus=true {
    pane split_direction="vertical" {
      pane name="main" command="@editorStartup@" size="61%"
      pane name="term"
    }
  }
  tab name="vcs" {
    pane name="main" command="@vcsClient@"
  }
}

on_force_close "quit"
pane_frames false

keybinds {
  normal {
		// I have an AZERTY keyboard, adjust if needed
    bind "Ctrl &"  { GoToTab 1; }
    bind "Ctrl é"  { GoToTab 2; }
    bind "Ctrl \"" { GoToTab 3; }
    bind "Ctrl '"  { GoToTab 4; }
    bind "Ctrl ("  { GoToTab 5; }
    bind "Ctrl §"  { GoToTab 6; }
    bind "Ctrl è"  { GoToTab 7; }
    bind "Ctrl !"  { GoToTab 8; }
    bind "Ctrl ç"  { GoToTab 9; }
    bind "Ctrl à"  { GoToTab 10; }
    bind "Ctrl )"  { GoToTab 11; }

    bind "Ctrl l"  { Clear; }
  }

  shared_except "locked" {
    bind "Ctrl f"  { ToggleFocusFullscreen; }
  }
}
