layout {
  default_tab_template {
    children

    pane size=1 borderless=true {
      plugin location="file:@zjstatus@" {
        format_left  "{mode} #[fg=#89B4FA,bold] {tabs}"
        format_right "{session}"
        format_space ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal       "#[bg=#89B4FA] {name} "
        mode_locked       "#[bg=#89B4FA] {name} "
        mode_resize       "#[bg=#89B4FA] {name} "
        mode_pane         "#[bg=#89B4FA] {name} "
        mode_tab          "#[bg=#89B4FA] {name} "
        mode_scroll       "#[bg=#89B4FA] {name} "
        mode_enter_search "#[bg=#89B4FA] {name} "
        mode_search       "#[bg=#89B4FA] {name} "
        mode_rename_tab   "#[bg=#89B4FA] {name} "
        mode_rename_pane  "#[bg=#89B4FA] {name} "
        mode_session      "#[bg=#89B4FA] {name} "
        mode_move         "#[bg=#89B4FA] {name} "
        mode_prompt       "#[bg=#89B4FA] {name} "
        mode_tmux         "#[bg=#ffc387] {name} "

        tab_normal   "#[fg=#000000] {name} "
        tab_active   "#[fg=#000000][{name}]"
      }
    }
  }
  
  tab name="file" {
    pane name="main" command="@fileExplorer@"
  }
  tab name="edit" focus=true {
    pane split_direction="vertical" {
      pane name="main" command="@editorStartup@" size="61%"
      pane name="term"
    }
  }
  tab name="vcs" {
    pane name="main" command="@vcsClient@"
  }
}

keybinds {
  normal {
    // bind "Alt Ctrl Left" { GoToPreviousTab; }
    // bind "Alt Ctrl Right" { GoToNextTab; }

    bind "Ctrl l"  { Clear; }
  }

  shared_except "locked" {
    bind "Ctrl f"  { ToggleFocusFullscreen; }
  }
}
